
#poisk {
  margin:2px;
}
#navbar{
  background: #bd1111;
  }           /* id NAV BAR*/

.row  {
  display: flex;
  justify-content: space-between;

}
.header_menu  {
  text-align: center;
  padding: 5px 15px 5px 10px;
  color: white;


}
.header_menu:hover {
  color: black;
  text-decoration: none;
  background-color: white;

}

  .button{background-color:#000;color: #FFF;
          display: inline-block;
          border-radius: 4px;
   }
  .button:hover{color: #FFF;}
  .button:focus{color: #FFF;}

              /* id  POISK*/
.narez{color: #bd1111;
        font-size: 20px;
}
.narez:hover{color: #bd1111;
        font-size: 20px;
}

.glatko{color: #027a06;
        font-size: 20px;
}
.glatko:hover{color: #027a06;
        font-size: 20px;
}
@media  {

}
